.columns {
  margin: 0 !important;
  padding: 0 !important;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin-left: 250px;
  padding: 0 !important;
}

nav {
  align-items: center;
}

nav div h1 {
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
  margin: 20px 0 !important;
  color: #ef7c01 !important;
  font-weight: 600 !important;
  margin-top: 35px !important;
  font-size: 45pt !important;
}

.language {
  display: flex;
  flex-direction: row;
  padding-right: 14px;
  justify-content: flex-end;
  font-size: 10pt;
}

.main {
  max-width: 1000px;
}

.tabs .tab {
  text-align: right;
  font-size: 14pt;
  cursor: pointer;
}

.tabs .tab:hover {
  color:#ef7c01;
}

i {
  color: black;
  width: 50px;
  height: 50px;
  margin-top: 15px;
  cursor: pointer;
}

.language{
  cursor: pointer;
}

.language p:first-child {
  margin-right: 10px;
  font-weight: 600;
}

.hamburgerMenu {
  width: 50px;
  height: 50px;
  color: black;
}

.hamburgerTab {
  margin-left: 20px;
  text-align: left;
  font-size: 13pt;
}

.hamburgerTab:hover{
  color:#ef7c01;
}

.search-wrapper {
  justify-content: flex-end !important;
}

input{
  font-size: 15pt !important;
}

.search-in {
  width: 0px;
  height: 40px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid white;
  transition: width 2s ease, border-color 4s ease;
}

.search-out {
  width: 180px;
  height: 40px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid black;
  transition: width 2s ease, border-color 4s ease;
}

.search-wrapper:focus .search-in{
  width: 180px;
  border: 1px solid black !important;
}

.search-wrapper:focus .search-out{
  width: 0;
  border: 1px solid white !important;
}


@media only screen and (max-width:1550px) {
  nav {
    justify-content: flex-start;
  }
  .logo {
    margin-left: 150px;
    width: 20% !important;
  }
  nav div h1 {
    font-size: 30pt !important;
  }
  .main {
    padding-left: 20px !important;
  }
}

@media only screen and (max-width:1100px) {
  .logo {
    margin-left: 100px;
  }
}
@media only screen and (max-width:1000px) {
.tab {
    display: none !important;
  }
  nav {
    display: flex;
    flex-direction: row;
  }
  .tabs {
    justify-content: flex-end !important;
  }
  .language {
    justify-content: flex-end;
  }
  .main {
    margin-bottom: 5px;
    padding-right: 0 !important;
    width: 100%;
  }
  .title {
    font-size: 30pt !important;
    font-weight: 600 !important;
    width: 100%;
    margin-right: 20px !important;
  }
  nav div h1 {
    margin: 0 !important;
  }
  .hamburgerTab{
    margin-left:90px;
  }
}
@media only screen and (max-width:860px) {
  .logo {
    margin-left: 20px;
  }
  .hamburgerTab{
    margin-left:10px;
  }
}

@media only screen and (min-width:1000px) {
  .hamburgerMenu {
    display: none !important;
  }
}

@media only screen and (min-width:460px) {
  .search-wrapper-mobile {
    display: none
  }
}

@media only screen and (max-width:460px) {
  .logo{
    margin-top:30px;
  }
  .search-wrapper-mobile{
    display: flex;
    justify-content: flex-start !important;
  }
  .search-box{
    display: none;
  }
  i {
    height: 20px !important;
    margin-top:5px !important;
  }
  input {
    height: 28px !important;
    margin-left: 20px !important;
    margin-bottom:10px !important;
  }
  
  .main{
    padding-bottom: 0 !important;
  }
  .search-wrapper-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 10px !important;
    height: 30px;
  }
}