.columns {
  border: 2px solid black;
  margin: 0 !important;
  padding: 0 !important;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

nav {
  justify-content: center;
  align-items: center;
}

nav div h1 {
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
  margin: 20px !important;
  color: #ef7c01 !important;
  font-weight: 600 !important;
  margin-top: 35px !important;
  font-size: 45pt !important;
}

.language {
  display: flex;
  flex-direction: row;
  padding-right: 14px;
  justify-content: flex-end;
  font-size: 10pt;
}

.main {
  max-width: 700px;
}

.tabs .tab {
  text-align: right;
  font-size: 13pt;
}

.tabs .tab:hover{
 text-decoration: underline;
}

i {
  color: black;
  width: 50px;
  height: 50px;
  margin-top: 15px;
}

.language p:first-child {
  margin-right: 10px;
  font-weight: 600;
}

.hamburgerMenu {
  width: 50px;
  height:50px;
  color:black;
}

div .hamburgerMenu span {
  border-bottom: 2px solid black;
  width: 50px;
}

.hamburgerTab{
  margin-left:30px;
  text-align:left;
  font-size: 13pt;
}
@media only screen and (max-width:1550px){
  nav{
    justify-content: flex-start;
  }
  .logo{
    margin-left:20px;
  }
}
@media only screen and (max-width:1250px){
  .logo{
    margin-left:20px;
  }
  nav{
    justify-content: flex-start;
  }
}
@media only screen and (max-width:860px){
  .tab{
    display: none !important;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .tabs{
    justify-content: flex-start !important;
    margin-left:30px !important;
  }
  .language {
    justify-content: flex-start;
    margin-left: 45px !important;
  }
}

@media only screen and (min-width:860px){
  .hamburgerMenu{
    display: none !important;
  }
}